:root {
  /* Colours */
  --color-bg: #78ed3e; /* page background /*

  /* Header */
  --color-head-bg: #5c6e53;

  /* Logotype */
  --color-logotype-bg: #433a3a;
  --color-text-logotype: #c1bfb8;
  --font-logotype-size: 1rem;

  /* Global menu */
  --color-menu-bg: #2c2524;
  /* Links */
  --color-link-bg: #78766e;
  --color-link-hover: #fff; /* used */
  --color-link-active: #99958f; /* used */
  --border-radius-links: 1px;

  /* Headlines og rubrik */
  --font-h1-size: 1rem;
  --font-sub1-size: 1rem;
  --font-h2-size: 1rem;
  --font-h3-size: 1rem;
  --color-headline-bg: #433b43;
  --color-headline-text-page: #42413d;

  /* Tekst */
  --color-text: #000;
  --color-text-inverted: #cdccc4;

  /*  Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 5px;

  /* Cards */
  --color-card-bg: #985a87;
  --color-cta-card-bg: #41273a;
  /* news-cards */
  --color-news-bg: #433b43;
  --color-news-bg-inverted: #5c6e53;
  --color-cta-newscard-bg: #5f2650;
  --color-cta-newscard-bg-inverted: #7b7d83;

  /* Fonts */
  --font-family-sans: ui-sans-serif;
  /* --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700; */

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: #676161;
  --color-infobox-1-bg: #cfcec6;
  --color-infobox-2-bg: #969995;
}
